<%- include('header');%>
<h2><%= gel.brand %></h2>
<p>Price: <%= gel.price %></p>
<p>Caffeine Content: <%= gel.caffeineAmount %>mg</p>
<p>Flavor: <%= gel.flavor %></p>
<a href="<%= gel.url %>/delete">Delete Gel</a>
<%- include('footer');%>
