<%- include('header');%> <% shoeInstances.forEach(function(shoeInstance){ %>
<p>Stock Number:<%= shoeInstance.stockNumber %></p>
<a href="<%= shoeInstance.url%>"><%= shoeInstance.shoe.name %></a>
<% }); %>
<hr />
<a href="/products/shoeInstances/add">Add Shoe Instances</a>
<%- include('footer');%>
