<%- include('header');%>
<h2><%= watch.brand %></h2>
<p><%= watch.model %></p>
<p><%= watch.description %></p>
<p><%= watch.price %></p>
<hr />
<a href="<%= watch.url%>/update">Update Watch?</a>
<a href="<%= watch.url%>/delete">Delete Watch?</a>
<%- include('footer');%>
